*{
   font-family: url("https://fonts.google.com/specimen/Manrope") 
}

body{
    background:#202733 ;
    display: grid;
    align-items: center;
    padding-inline: 1.6rem;
}

.Advice-Generator{
    font-family: "Manrope" , sans-serif;
    width: 100%;
    max-width: 54rem;
    display: grid;
    grid: max-content 3.2rem;
    align-items: center;
}