*{
   font-family: url("https://fonts.google.com/specimen/Manrope") 
}

body{
    background:#202733 ;
    display: grid;
    align-items: center;
    padding-inline: 1.6rem;
}

.Advice-Generator{
    font-family: "Manrope" , sans-serif;
    width: 100%;
    max-width: 54rem;
    display: grid;
    grid: max-content 3.2rem;
    align-items: center;
}
.Advice-Generator-Output{
    background: #313a48;
    padding: 4rem 2.4rem 6.4rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
}
.Advice-Generator-Advice-Number{
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: 0.345714rem;
    color: #53ffaa;
}
@media screen  and (Min-width=444){
    .Advice-Generator-Advice-Number{
        letter-spacing: 0.48571rem;
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
    .Advice-Generator-Quote{
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.3rem;
        letter-spacing: -0.0257143rem;
        color:white;

    }
}
.Advice-Generator-Quote{
    color: white;
}

.Advice-Generator-Divider{
    display: flex;
    width: 100%;
}
picture img{
    margin: auto;
    width: 100%;
}
.Advice-Generator-Btn{
    width: 6.4rem;
    height: 6.4rem;
    background: #53ffaa;
    border-radius: 50%;
    align-items: center;
    box-shadow: 250ms;
    cursor: pointer;
    margin: auto;

}